@tailwind base;
@tailwind components;
@tailwind utilities;

.mobileMenu {
    @apply absolute bg-gray-300 right-0 text-center w-6/12 py-6 transition-transform;
}
.hideMenu {
    transform: translateX(100%);
    @apply mobileMenu;
}
.showMenu {
    transform: translateX(0);
    @apply mobileMenu;
}
.overflow_x_clip {
    overflow-x: clip;
}